@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body , html {
    height: 100%;
    width:100%;
    min-width: 1024px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0px 40px 0px;
}
h3{
    font-weight: 400;
}
h4{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
p{
    text-align: justify;
}

/* Header */
.header-top {
   display: flex;
   flex-direction: column;
   background-image: url("../img/header.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0px -130px;
   height: 350px;
}

.header-top h1 {
  margin-top: 160px;
  margin-left: 20px;
  color:white;
}

header nav {
    background-color: blueviolet; /* unifique color nav*/ 
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none; 
}

li a {
    margin-left: 50px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

li a:hover {  /* unifique estilo hover nav*/ 
    background-color: white;
    border-radius: 5px;
    color: blueviolet;
}

/*------ MAIN  ------*/
/* Who we are  */

.whoweare {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e7e7e7;
    height:750px;
}
.whoweare-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whoweare-heading h3 {
    width: 60%;
    text-align: center;
}
.articles-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding: 30px;
    width:100%;
    margin:0 auto;
    height:600px;
}
.articles-container h3 {
    margin-bottom: 15px;
}
.content-left {
    width:50%;
    padding:20px;
    border-right: 1px solid grey;
}
.content-left img {
    float:left;
    padding:10px 10px 0 0;
}
.content-right {
    display:flex;
    flex-direction: column;
    width:50%;
    padding:20px;
    justify-content: space-between;
}
.add {
    width:40%;
    margin: 0 auto;
} 

/* Services  */

.section-heading {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 80px;
}

.service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.service img { 
    grid-area: 1 / 1 / 3 / 2;
    height: 70px;
    width: 70px;
    border-radius:200px;
    border: 5px solid #AAA;
    stroke: blue;
}


.service h3 { 
    grid-area: 1 / 2 / 2 / 4; 
    height: 30px;
    vertical-align: middle;

}
    
.service p {
    grid-area: 2 / 2 / 4 / 4;
}

/* Portfolio */



.rotate-image {
    transition-duration: 2s;
    transition: transform .7s ease-in-out;
}

.rotate-image:hover {
    transform: rotate(-10deg);
}

.special-rotate-image {
    transition: all .5s ease-in-out; /* animar la transición con una duración de 0.5 segundos y una función de aceleración */
}

.special-rotate-image:hover {
    transform: rotate(360deg);
    border-radius: 50%; /* convertir la imagen en un óvalo */ 
}

.t-center {
    text-align: center;
}
  
h2.t-center, h3.t-center {
    margin-top: 20px;
}

#portfolio{
    background-color: #e7e7e7;
}

#portfolio-title{
    margin-bottom: 50px;
    padding-top: 50px;
}

#portfolio-subtitle{
    margin-bottom: 20px;
}

.image-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: fit-content;
    margin: auto;
}
/*location*/
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.find-us {
    margin-top: 20px;
    margin-bottom: 20px;
}
.map {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    float: left;
 }
 .address {
    float: right;
    margin-left: 20px;
 }
 .address-title {
    margin-bottom: 10px;
    display: block;
 }

 /*------ FORM - EMAIL US  ------*/

/* img fondo */
.emailus {
    position: relative ;
    background-color: rgb(100, 84, 146);
    padding-bottom: 150px;
    padding-top: 20px;
}
.emailus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-size: cover;

}
/* disposición formulario */
.form {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 0px;
    border-radius: 10px;
    display: flex;
align-items: center;
}

.title-email{
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.form textarea {
    width: 300px;
    margin-bottom: 10px;
    color:black;
    border-radius: 5px;
}

.form label {
    color: white;
    font-size: 20px;
    padding-right: 2rem;
}

.form input {
    position: relative;
    width: 300px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    border: none;
    height: 30px;
    border-radius: 5px;
}


.form input[type="submit"]{
    width: 100px;
    background-color: white;
    color: black;
    opacity: 1;
    margin-top: 1.2rem;
    margin-left: 8rem;
    cursor:pointer;
}

.form input[type="submit"]:hover{
    width: 100px;
    background-color: rgb(57, 42, 123) ;
    color: white;
    opacity: 1;
    margin-top: 1.2rem;
    margin-left: 8rem;
    cursor:pointer;
}

.form-div {
    margin: .4em 0;

  }
  .form-div input {
    float: right;
  }
  .form-div textarea {
    float: right;
  }

/* FOOTER */
footer {
    background-color: rgb(57, 42, 123);
    color: white;
    font-size: small;
    padding: 10px;
}
footer p {
    text-align: right;
}

footer a{
    color: white;
}

