/* Services  */

img.service-png {
    height: 5em;
    width: 5em;
    padding: 3%;
    margin: 3%;
    border: 5px solid #a8a8a8;
    border-radius: 40px;
}

img.service-png:hover {
    border: 5px solid rgb(97, 97, 97);
    background-color: blueviolet !important;
}