.float-left-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 
/*
.float-left-list li {
    padding: 50px;
    background-color: rgb(29, 141, 141);
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    float: left;
    margin-right: 5px;
}*/


.float-left-list li{
    display: inline-block;
    padding: 50px;
    background-color: rgb(29, 141, 141);
    color:white;
    font-weight: bold;
    font-size: 1.5em;
}