
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 1px rgb(232, 158, 67) solid; */
}
body , html {
    height: 100%;
    width:100%;
    min-width: 1024px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */
.header-top {
   display: flex;
   flex-direction: column;
   background-image: url("./images/header.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0px -130px;
   height: 350px;
}

.header-top h1 {
  margin-top: 160px;
  margin-left: 20px;
  color:white;
}

header nav {
    background-color: darkslateblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: row;
}
ul li {
    list-style: none;
    margin-left:50px;
    padding:10px;
}
ul li:hover {
    background-color: white;
    border-radius: 5px;
}

li a{
    color:white;
    text-decoration: none;
}
li a:hover {
    color:blueviolet;
}

/*------ MAIN  ------*/
/* Who we are  */

.whoweare {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(245, 237, 237);
    height:750px;
    border:1px solid red;
}
.whoweare-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.whoweare-heading h2  {
    font-size: 30px;
    font-weight: 400;
    margin: 30px 0px 40px 0px;
}
.whoweare-heading p {
    width: 60%;
    text-align: center;
}

.articles-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
}
.articles-container h3 {
    margin-bottom: 15px;
}
.content-left {
   
}

.content-right {
    display:flex;
    flex-direction: column;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.find-us {
    margin-top: 20px;
    margin-bottom: 20px;
}
.map {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    float: left;
 }
 .address {
    float: right;
    margin-left: 20px;
 }
 .address-title {
    margin-bottom: 10px;
    display: block;
 }